body{
 background: linear-gradient(to bottom, #153016 0%, #1e4d1f 100%);

    /*propriedades para aplicar o background em toda tela*/
    min-height: 100vh;
    margin: 0;
    color: white;

}

/* Começo do conteudo da header */

header{
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 background-color: rgb(10, 135, 10);
 display: flex;
 align-items: center;
}

header div{
}

.cabecalho{
  width: 30%;
  margin-left: 9%;
}

.botoes{
 width: fit-content;
 height: fit-content;
 margin-left: 30%;
 margin-right: 9%;
}

/* Começo do conteudo principal */

main{
 margin: 9%;
  margin-top: 17%;
}

#saudacao{
  background-color: none;
}

.status {
 margin-bottom: 2%;
 opacity: green;
}

.status div {
  display: inline-table;
}

#status1, #status2, #status3{
  background-color: green;
  width: 20%;
}

.status div div{
  text-align: center;
  width: 20%;
}

main nav{
}

main nav ul{
  
  list-style: none;
  padding: 0;
}

main nav ul li {
  display: inline-table;
  width: 24%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  background-color: green;
  color: black;
  font-weight: bold;
}

main fieldset{
  margin-top: 4%;
  border: 1px solid black;
  border-radius: 15px;
  background-color: green;
}

main fieldset input{
  width: 99%;
}

main fieldset article{
  border: 1px solid rgb(0, 0, 0);
  border-radius: 15px;
  margin-top: 2%;
  font-size: 78%;
}

main fieldset article p {
  width: fit-content;
  display: inline-block;
 margin-bottom: 1%;
 margin-left: 1%;
}

#botaoAprovarRejeitar{
 width: fit-content;
 display: inline-block;
}

#statusReserva{
  color: white;
  background-color: black;
  text-align: center;
  border: 1px solid white;
  border-radius: 15px;
  padding: 4px 10px;
}

#btAprovar, #btRejeitar{
  border-radius: 15px;
  padding: 6px 10px;
  border: 1px solid black;
  font-weight: bold;
}

#btAprovar{
  background-color: green;
}

#btRejeitar{
  background-color: red;
}